.card-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container select {
  margin-left: 10px;
}

.select {
  padding: 1rem 2.5rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--azul_ppal);
  text-transform: capitalize;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  color: var(--blanco);
  min-width: 140px;
  margin: 4rem 0;
  transition: background-color 0.5s, color 0.5s;
  margin-left: 15px;
}

.div-select {
  display: flex;
  align-items: center;
  position: relative;
}

.div-select span {
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #fff;
}

.button {
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--azul_ppal);
  text-transform: capitalize;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  color: var(--blanco);
  min-width: 120px;
  margin: 4rem 0;
  transition: background-color 0.5s, color 0.5s;
  margin-left: 15px;
}

.button:hover {
  background-color: var(--azul_claro);
  color: var(--blanco);
}

.selected {
  background-color: var(--azul_claro);
  /* Azul celeste */
  color: var(--blanco);
}

@media (max-width: 976px) {
  .card-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .select {
    padding: 1rem 2.5rem;
    min-width: 220px;
    margin: 0;
  }

  .button-container select {
    margin-left: 5px;
    margin-top: 5px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button {
    min-width: 220px;
    margin: 5px;
  }
}