.customer-image-small {
  max-width: 180px;
  min-width: 180px;
  min-width: "130px";
  width: "100%";
  object-fit: "cover";
}

.description-client {
  font-size: 15px;
  padding: 6px 8px;
}

.informative-clients-contact {
  margin-left: -8px;
  margin-top: -12px;
}

.informative-clients-contact p {
  font-size: 12px;
}

@media (width < 400px) {
  .customer-image-small {
    max-width: 100px;
    min-width: 100px;
    height: 70px;
  }

  .description-client {
    font-size: 11px;
    padding: 6px 8px;
  }

  .informative-clients-contact p {
    font-size: 8px;
  }
}
