.customer-image-small {
  max-width: 110px;
  min-width: 110px;
  width: "100%";
  object-fit: "cover";
}

@media (width > 600px) {
  .customer-image-small {
    max-width: 110px;
    min-width: 110px;
    min-height: 110px;
    max-height: 110px;
  }
}

.description-client {
  font-size: 13px;
  padding: 6px 8px;
  line-height: 1.1;
}

.informative-clients-contact {
  margin-left: -8px;
  margin-top: -12px;
}

.informative-clients-contact p {
  font-size: 13px;
  line-height: 1.1;
}

@media (width < 400px) {
  .customer-image-small {
    min-height: 110px;
    max-height: 110px;
    height: 75px;
  }

  .description-client {
    font-size: 11px;
    padding: 6px 8px;
  }

  .informative-clients-contact p {
    font-size: 8px;
  }
}
