.grid-container {
    display: grid;
    justify-content: center;
    margin-bottom: 25px;
}

.container-text h1 {    
    font-weight: 600;
    text-transform: uppercase;
}

.flex-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.flex-links a{
    background-color: var(--azul_ppal);
    min-width: 19rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 15px;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.flex-links a:hover{
    background-color: var(--azul_claro);
    transition: 1s;
}

@media (max-width: 425px) {
    .flex-links {    
        flex-direction: column;
    }

    .container-text h1{    
        font-size: 24px;
    }
}